body {
	background: url(../img/bg.png);
	overflow-x: hidden;
}

.header-top {
	height: 5px;
	background: #878988;
	border-top: 1px solid #494949;
	border-bottom: 1px solid #def0f9;
}

.header-mid {
	height: 186px;
	background-image: -ms-linear-gradient(top, #C1E0F0, rgba(255,255,255,0));
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C1E0F0), to(rgba(255,255,255,0)));
  	background-image: -webkit-linear-gradient(top, #C1E0F0, rgba(255,255,255,0));
  	background-image: -o-linear-gradient(top, #C1E0F0, rgba(255,255,255,0));
  	background-image: linear-gradient(top, #C1E0F0, rgba(255,255,255,0));
  	background-image: -moz-linear-gradient(top, #C1E0F0, rgba(255,255,255,0));
  	background-repeat: repeat-x;
  	overflow: hidden;
}

.mountains-bg {
	background: url(../img/mountains.png) repeat-x;
	height: 200px;
}

.mountains-fg {
	position: relative;
	top: -1900px;
	left: -80px;
	background: url(../img/mountains-fg.png) no-repeat;
	height: 200px;
	width: 800px;
}

.header-bottom {
	height: 5px;
	background: #f7a3a3;
	border-top: 1px solid #e68e91;
	border-bottom: 1px solid #fff;
}

.clouds {
	padding: 100px 0;

}

.cloud-x1 {
	position: absolute; top: -10px; left: 20px;
	width: 100px;
	height: 100px;
	background: url(../img/cloud-x1.png) no-repeat;
	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}

.cloud-x2 {
	position: absolute; top: 10px; left: -200px;
	width: 150px;
	height: 150px;
	background: url(../img/cloud-x2.png) no-repeat;
	-webkit-animation: moveclouds 45s linear infinite;
	-moz-animation: moveclouds 45s linear infinite;
	-o-animation: moveclouds 45s linear infinite;
}

.cloud-x3 {
	position: absolute; top: 30px; left: -15px;
	width: 180px;
	height: 180px;
	background: url(../img/cloud-x3.png) no-repeat;
	-webkit-animation: moveclouds 55s linear infinite;
	-moz-animation: moveclouds 55s linear infinite;
	-o-animation: moveclouds 55s linear infinite;
}

.cloud-x4 {
	position: absolute; top: 50px; left: 60px;
	width: 180px;
	height: 180px;
	background: url(../img/cloud-x3.png) no-repeat;
	-webkit-animation: moveclouds 75s linear infinite;
	-moz-animation: moveclouds 75s linear infinite;
	-o-animation: moveclouds 75s linear infinite;
}

.cloud-x5 {
	position: absolute; top: 5px; left: -100px;
	width: 150px;
	height: 150px;
	background: url(../img/cloud-x2.png) no-repeat;
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.sunburst {
	position: relative;
	top: -980px;
	left: -550px;
	width: 1500px;
	height: 1500px;
	background: url(../img/sunburst.png);
	-moz-animation:spin 100s infinite linear;
	-webkit-animation:spin 100s infinite linear;
}

a.logo {
	display: block;
	position: absolute;
	top: 20px;
	width: 365px;
	height: 145px;
	background: url(../img/logo.png);
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.animate-logo {
	display: block;
	position: absolute;
	top: 0px;
	width: 365px;
	height: 145px;
	width: 365px;
	height: 200px;
}

.animate-logo:hover a.logo {
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
	/* -moz-animation:shrink 0.5s;
	-webkit-animation:shrink 0.5s;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards; */
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -21px;
}
.sticky-footer, .push {
	height: 21px;
	clear: both;
}

.footer {
	height: 20px;
	padding: 0 10px;
	background: #464646;
	color: #ccc;
	font-size: 11px;
	border-top: 1px solid #fff;
	line-height: 20px;
}

@-moz-keyframes spin {
	from { -moz-transform:rotate(0deg); }
	to { -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform:rotate(0deg); }
	to { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 2000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 2000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 2000px;}
	100% {margin-left: -1000px;}
}